        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            margin: 0;
            background: #f4f6f8;
            padding: 20px;
        }

        #backBtn {
            padding-right: 50px;
            margin-right: 50px;
            margin-top: 0px;
            font-size: 40px;
            background: none;
            border: none;
            cursor: pointer;
        }

        h1 {
            text-align: center;
            margin-bottom: 40px;
        }

        h2 {
            margin: 40px 0 20px;
            color: #333;
        }

        .logo-box {
            /* width: 200px; */
            height: 120px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .logo-box img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 50%;
        }

        .btn {
            display: inline-block;
            margin-top: 12px;
            padding: 8px 16px;
            background: #2e7d32;
            color: white;
            text-decoration: none;
            border-radius: 6px;
            font-size: 14px;
            transition: background 0.2s ease;
        }

        .btn:hover {
            background: #1b5e20;
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
        }

        .card {
            margin-left: 130px;
            /* width: 650px; */
            background: #fff;
            border-radius: 12px;
            padding: 20px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            transition: transform 0.2s ease;
        }

        .card:hover {
            transform: scale(105%);
        }

        .card h3 {
            margin: 10px 0;
            color: #222;
        }

        .card p {
            font-size: 14px;
            color: #555;
        }