<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecomind</title>
    <link rel="stylesheet" href="{% static 'contribute.css' %}">
</head>

<body>
    <header class="page-header">
        <a href="/">
            <button id="backBtn">⬅️</button>
        </a>
        <div class="title-group">
            <h1>World Top NGO's</h1>
        </div>
    </header>

    <h2>🌍 Environment</h2>
    <div class="cards">
        <div class="card">
            <div class="logo-box">
                <img src="{% static 'Assets/Images/wwf.png' %}" alt="wwf Logo">
            </div>
            <h3>WWF</h3>
            <p>Wildlife and environmental conservation.</p>
             <a href="https://www.worldwildlife.org/support/" target="_blank" class="btn">
                Checkout
            </a>
        </div>

        <div class="card">
            <div class="logo-box">
                <img src="{% static 'Assets/Images/gp-logo.svg' %}" alt="greenpeace Logo">
            </div>
            <h3>Greenpeace</h3>
            <p>Climate action and environmental activism.</p>
            <a href="https://www.greenpeace.org/international/about/#join" target="_blank" class="btn">
                Checkout
            </a>
        </div>
    </div>



    <h2>📚 Education</h2>
    <div class="cards">

        <div class="card">
            <div class="logo-box">
                <img src="{% static 'Assets/Images/roomtoroom.png' %}" alt="roomToread Logo">
            </div>
            <h3>Room To Read</h3>
            <p>where all children have room to read, learn and grow.</p>
            <a href="https://www.roomtoread.org/take-action/" target="_blank" class="btn">
                Checkout
            </a>
        </div>

        <div class="card">
            <div class="logo-box">
                <img src="{% static 'Assets/Images/akshyePatra.png' %}" alt="akshayaPatra Logo">
            </div>
            <h3>Akshaya Patra</h3>
            <p>Mid-day meals for school children.</p>
            <a href="https://www.akshayapatra.org/" target="_blank" class="btn">
                Checkout
            </a>
        </div>
    </div>

    <h2>🌱 Social Welfare & Poverty</h2>
    <div class="cards">
        <div class="card">
            <div class="logo-box">
                <img src="{% static 'Assets/Images/goonj.webp' %}" alt="Goonj Logo">
            </div>
            <h3>Goonj</h3>
            <p>Rural development using urban surplus materials.</p>
            <a href="https://goonj.org/get-involved/" target="_blank" class="btn">
                Checkout
            </a>
        </div>

        <div class="card">
            <div class="logo-box">
                <img src="{% static 'Assets/Images/smileLogo.png' %}" alt="smile Logo">
            </div>
            <h3>Smile Foundation</h3>
            <p>Education and healthcare for underprivileged children.</p>
            <a href="https://www.smilefoundationindia.org/individual-support/" target="_blank" class="btn">
                Checkout
            </a>
        </div>
        
        <div class="card">
            <div class="logo-box">
                <img src="{% static 'Assets/Images/peepalFarm.jpeg' %}" alt="peepalFarm Logo">
            </div>
            <h3>Peepal Farm</h3>
            <p>Peepal Farm is a stray animal rescue, and an awareness organization, working to help animals heal and be heard..</p>
            <a href="https://peepalfarm.org/join" target="_blank" class="btn">
                Checkout
            </a>
        </div>
    </div>


</body>

</html>