<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ecomind</title>
  <link rel="stylesheet" href="{% static 'indexStyle.css' %}">
</head>

<body>
  <!-- nav bar -->
  <nav class="top-navbar">
    <div class="logo-container">
      <a href="/"><img src="{% static 'Assets/Images/logoBG.png' %}" alt="Eco Mind Logo" class="app-logo"></a>
    </div>

    <ul class="nav-icons">
      <li class="nav-item">
        <a href="#"><i class="bi bi-box-arrow-in-right"></i><span class="nav-text">Login</span></a>
      </li>
      <li class="nav-item">
        <a href="/admin"><i class="bi bi-person-plus"></i><span class="nav-text">Signup</span></a>
      </li>
      <li class="nav-item">
        <a href="#" id="openMenuButton"><i class="bi bi-three-dots"></i><span class="nav-text">Menu</span></a>
      </li>
    </ul>
  </nav>

  <!-- Menu button -->
  <div class="full-screen-menu" id="fullScreenMenu">

    <button class="btn close-menu-button" id="closeMenuButton">
      <i class="bi bi-x-circle"></i> CLOSE MENU
    </button>

    <div class="menu-content-grid">

      <div class="menu-card large-card card-explore">
        <span class="card-icon"><i class="bi bi-globe-americas"></i></span>
        <h3>Explore Eco Mind</h3>
        <p>Learn about our mission to educate and inspire the next generation of environmentalists.</p>
      </div>

      <a href="shop/" class="menu-card small-card">
        <span class="card-icon"><i class="bi bi-shop"></i></span>
        <h4>Eco Mind MarketPlace</h4>
        <p>Grab the essentials to save the Earth.</p>
      </a>

      <a href="#" class="menu-card small-card">
        <span class="card-icon"><i class="bi bi-patch-check"></i></span>
        <h4>Badges</h4>
        <p>Show them your badges, tell them who you are!</p>
      </a>

      <a href="#" class="menu-card small-card">
        <span class="card-icon"><i class="bi bi-award"></i></span>
        <h4>Achievments</h4>
        <p>Look at what you have achieved till now.</p>
      </a>

      <a href="#" class="menu-card small-card">
        <span class="card-icon"><i class="bi bi-headset"></i></span>
        <h4>Contact Us</h4>
        <p>----N/A----</p>
      </a>

      <a href="article" class="menu-card small-card">
        <span class="card-icon"><i class="bi bi-journal-text"></i></span>
        <h4>Eco Articles</h4>
        <p>Learn the top articles published by top organisations.</p>
      </a>
      <a href="contribute" class="menu-card hori-card">
        <span class="card-icon"><i class="bi bi-people"></i></span>
        <h4>Contribute</h4>
        <p>Support the planet's heroes! Donate to NGOs and
          amplify their efforts in conservation and education.</p>
      </a>

    </div>
  </div>


  <video autoplay loop muted playsinline src="{% static 'Assets/Images/trees.webm' %}" class="overlay-gif"
    alt="Animated trees"></video>

  <video autoplay loop muted playsinline src="{% static 'Assets/Images/newOwl.webm' %}" class="owl" id="OGowl"
    alt="owl"></video>
  <video autoplay loop muted playsinline src="{% static 'Assets/Images/night_trees.webm' %}" class="nightTrees"
    alt="Animated trees"></video>

  <img src="{% static 'Assets/Images/bird.gif' %}" alt="bird-gif" class="birdGif">

  <video autoplay loop muted playsinline src="{% static 'Assets/Images/tree.webm' %}" class="overlay-gif1" id="videoBtn"
    alt="Animated tree"></video>

  <video autoplay loop muted playsinline src="{% static 'Assets/Images/leaves.webm' %}" class="leaves"
    alt="Animated tree"></video>

  <img src="{% static 'Assets/Images/newsquirel.gif' %}" class="squirel" alt="squirelGif">

  <audio id="birdSound" src="{% static 'Assets/Sound/birdfly.mp3' %}" preload="auto"></audio>
  <audio id="birdChirping" src="{% static 'Assets/Sound/birdsChirping.mp3' %}" preload="auto"></audio>
  <audio id="calmBgm" src="{% static 'Assets/Sound/calmBgm.mp3' %}" preload="auto"></audio>
  <audio id="crickets" src="{% static 'Assets/Sound/cricket.mp3' %}" preload="auto"></audio>
  <audio id="owl" src="{% static 'Assets/Sound/owl-hooting.mp3' %}" preload="auto"></audio>

  <div class="start-section">
    <div class="intro">
      <P id="upperLine">START YOUR </P>
      <p id="middleLine"> EcoMind Journey<p>
      <P id="lowerLine">CARVE YOUR WAY TOWARDS BETTER WORLD</P>
    </div>

    <a href="/start">
      <button class="start-btn">Let's Begin</button>
    </a>
  </div>

  <!-- Mode toggle icon -->
  <img id="modeToggle" src="{% static 'Assets/Images/sun.png' %}" alt="Toggle Mode" class="mode-icon">
  <img id="sound" src="{% static 'Assets/Images/sound.png' %}" alt="Toggle Mode" class="sound-icon">
  <img id="music" src="{% static 'Assets/Images/music.png' %}" alt="Toggle Mode" class="music-icon">

  <script src="{% static 'indexScript.js' %}"></script>

</body>

</html>